<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Modelling conventions management - Context</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Modelling conventions management - Context</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/view-6b79062b74504e11.png" alt="Modelling conventions management - Context" usemap="#view-6b79062b74504e11map"/>
			   <map name="view-6b79062b74504e11map">
				  						<area shape="rect" coords="464,74,639,139" href="../elements/elem-elem-p-1-2-1.html"  target="element">
				  						<area shape="rect" coords="73,74,248,139" href="../elements/elem-elem-p-1-2-3.html"  target="element">

				  				<area shape="rect" coords="42,42,672,172" href="../elements/elem-elem-cap-1-2.html"  target="element">

				  		<area shape="rect" coords="10,10,704,204" href="../elements/elem-elem-dom-build.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">A scheduled review cycle is initiated by the standards manager or an exception is raised against current conventions, resulting in an updated modelling conventions document. The process encompasses the evaluation and enhancement of existing modelling conventions, involving stakeholders such as the architecture lead, EA practitioners, and the review board. It progresses through defined phases from scheduling a review to publishing the updated conventions, ensuring that architectural knowledge is effectively managed and utilized.

                The process exists to maintain the integrity and relevance of modelling conventions, which are crucial for consistent architectural practices. Without this process, the quality of architectural knowledge could degrade, leading to inconsistencies and inefficiencies in model creation and curation. The primary output of this process is the updated modelling conventions document, which is published to model creation and curation.

                &lt;!-- SPEC --&gt;
                **Lifecycle phases**
                - schedule review: initiate the review cycle based on a schedule or exception
                - assess current conventions: evaluate existing conventions against current needs and standards
                - draft updates: create revisions to the modelling conventions document
                - ratify changes: obtain approval from the review board for the proposed updates
                - publish updated conventions: release the updated modelling conventions document for use

                **Information objects**
                - modelling conventions document: produced by drafting updates, arrives at publish updated conventions, passed to model creation and curation
                - architecture model: produced by model creation and curation, arrives at assess current conventions, passed to drafting updates
                - compliance report: produced by architecture decision, arrives at assess current conventions, passed to ratify changes
                - architecture decision: produced by architecture lead, arrives at assess current conventions, passed to ratify changes</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>generated_by</td><td class="convertlinks no-margin" style="white-space:pre-wrap">build_archi_xml.py::gen_proc_node_context_view</td></tr><tr><td>generator_path</td><td class="convertlinks no-margin" style="white-space:pre-wrap">pedro/capabilities/build_archi_xml/build_archi_xml.py</td></tr><tr><td>run_at</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2026-07-16T15:11:33</td></tr><tr><td>model_code</td><td class="convertlinks no-margin" style="white-space:pre-wrap">EAOPS</td></tr><tr><td>view_type</td><td class="convertlinks no-margin" style="white-space:pre-wrap">process_context</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/elem-elem-dom-build.html" target="element"> Build </a> </td>
											    <td> <a href="../elements/elem-elem-dom-build.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/elem-elem-cap-1-2.html" target="element"> Repository &amp; Knowledge Management </a> </td>
													    <td> <a href="../elements/elem-elem-cap-1-2.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/elem-elem-p-1-2-3.html" target="element"> Modelling conventions management </a> </td>
															    <td> <a href="../elements/elem-elem-p-1-2-3.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/elem-elem-p-1-2-1.html" target="element"> Model creation and curation </a> </td>
															    <td> <a href="../elements/elem-elem-p-1-2-1.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																					<tr>
																						<td> <a href="../elements/elem-elem-intra-95e129e31e.html" target="element"> Updated modelling conventions </a> </td>
																						<td> <a href="../elements/elem-elem-intra-95e129e31e.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/elem-elem-p-1-2-3.html" target="element"> Modelling conventions management </a> </td>
																						<td> <a href="../elements/elem-elem-p-1-2-1.html" target="element"> Model creation and curation </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>